{% extends "base_generic.html" %}
{% block title %}links to test task parts{% endblock %}
{% block content %}
<p>links to test task parts:</p>
    <ul>
        <li><a href="/bio/">Ticket#1</a></li>
        <li><a href="/settings/">Ticket#4</a></li>
        <li><a href="/bio/edit/">Ticket#2, Ticket#5, Ticket#6, Ticket#7, Ticket#11</a></li>
        <li><a href="/test_tag/">test edit_link tag - Ticket#8</a></li>
        <li><a href="/loglist/">Ticket#12, Ticket#13</a></li>
        <li><a href="/logout/">Log out</a></li>
    </ul>
{% endblock %}