<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>view logs</title>
</head>
<body>
{% if log_list %}
    <table border = '1'>
    <tr>
    	<td>ID <a href ='/loglist?order=id' >priority1</a> <a href ='/loglist?order=-id' >priority0</a></td>
		<td>path <a href ='/loglist?order=path' >priority1</a> <a href ='/loglist?order=-path' >priority0</a></td>
		<td>method <a href ='/loglist?order=method' >priority1</a> <a href ='/loglist?order=-method' >priority0</a></td>
		<td>request <a href ='/loglist?order=request' >priority1</a> <a href ='/loglist?order=-request' >priority0</a></td>
		<td>Meta information <a href ='/loglist?order=meta' >priority1</a> <a href ='/loglist?order=-meta' >priority0</a></td>
		<td width = '10%'>date <a href ='/loglist?order=date' >priority1</a> <a href ='/loglist?order=-date' >priority0</a></td>
	</tr>
    {% for record in log_list %}
	<tr>
		<td>{{ record.pk }}</td>
		<td>{{ record.path }}</td>
		<td>{{ record.method }}</td>
		<td>{{ record.request }}</td>
		<td>{{ record.meta }}</td>
		<td>{{ record.date }}</td>
	</tr>
    {% endfor %}
    </table>
{% else %}
    <p>no logs found</p>
{% endif %}
</body>
</html>