<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>
        {% block title %}BASE{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/project.css" />
    {% block js %} {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
